<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <title>Landing Page</title>
  </head>
  <body>

    <h1>Welcome Betting Exchange</h1>

<!-- THE COMMENTED CODE BELOW ALLOWS FOR AUTOMATIC HTML PAGE LOAD. NEEDS NESTED IF STATESMENTS. UNCOMMENT TO SEE HTML -->

    <!-- {% load async_include %}
    {% async_include "exchange_platform/football.html"  %} -->


    <select size="1" name="links" onchange="window.location.href=this.value;">
      <option selected disabled>Select a Sport</option>
      <option value="/football">Football</option>
    </select>
    <hr>



    <script type="text/javascript">
    $(document).ready( function() {


      $( document ).ajaxStart(function() {});

      $( ".football").click(function() {
        $( ".result" ).load( "/football" );
      });
      $( ".baseball").click(function() {
        $( ".result" ).load( "/baseball" );
      });
    });
    </script>


    <div class="football">ClICK THIS FOR FOOTBALL HTML</div>
    <br>
    <div class="baseball">CLICK THIS FOR BASEBALL HTML</div>
    <hr>
    <div class="result"></div>

    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'football' %}">Football</a>

  </body>
</html>
